<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Вход</title>
</head>
<body>
<h2>Вход</h2>

<div th:if="${param.error}" style="color: red;">
    Неверный логин или пароль
</div>

<div th:if="${param.logout}" style="color: green;">
    Вы вышли из системы
</div>

<form th:action="@{/login}" method="post">
    <div>
        <label>Имя пользователя: <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Пароль: <input type="password" name="password"/></label>
    </div>
    <div>
        <input type="submit" value="Войти"/>
    </div>
</form>

<a th:href="@{/registration}">Нет аккаунта? Зарегистрироваться</a>
</body>
</html>