<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
</head>
<body>
<h2>Регистрация</h2>

<div th:if="${message}" th:text="${message}" style="color: red;"></div>

<form th:action="@{/sign-up}" method="post">
    <div>
        <label>Имя пользователя: <input type="text" name="username"/></label>
    </div>
    <div>
        <label>Email: <input type="email" name="email"/></label>
    </div>
    <div>
        <label>Пароль: <input type="password" name="password"/></label>
    </div>
    <div>
        <input type="submit" value="Зарегистрироваться"/>
    </div>
</form>

<a th:href="@{/login}">Уже есть аккаунт? Войти</a>
</body>
</html>